@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply md:text-lg;
  }

  h1 {
    @apply mb-6 text-center text-4xl font-extrabold leading-9 tracking-tight sm:text-4xl sm:leading-10 md:text-5xl md:leading-14;
  }
  h2 {
    @apply text-2xl font-semibold;
  }
  p {
    @apply mb-4;
  }
}

.task-list-item::before {
  @apply hidden;
}

.task-list-item {
  @apply list-none;
}

.footnotes {
  @apply mt-12 border-t border-gray-200 pt-8 dark:border-gray-700;
}

.csl-entry {
  @apply my-5;
}

/* https://stackoverflow.com/questions/61083813/how-to-avoid-internal-autofill-selected-style-to-be-applied */
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}

::marker {
  @apply text-gray-300 dark:text-gray-500;
}

.polka {
  background-color: #e5e5f700;
  opacity: 0.8;
  background-image: radial-gradient(#444cf773 0.5px, #e5e5f761 0.5px);
  background-size: 10px 10px;
  @apply opacity-100 dark:bg-white;
}

.full-screen {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.buy-course-button {
  @apply rounded bg-blue-600 py-3 px-5 text-lg font-bold text-white no-underline hover:bg-blue-700 !important;
}
