@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply md:text-lg;
  }

  h1 {
    @apply mb-6 text-center text-4xl font-bold md:text-5xl;
  }
  h2 {
    @apply text-2xl font-semibold;
  }
  p {
    @apply mb-4;
  }
}

.task-list-item::before {
  @apply hidden;
}

.task-list-item {
  @apply list-none;
}

.footnotes {
  @apply mt-12 border-t border-gray-200 pt-8 dark:border-gray-700;
}

.csl-entry {
  @apply my-5;
}

/* https://stackoverflow.com/questions/61083813/how-to-avoid-internal-autofill-selected-style-to-be-applied */
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}

::marker {
  @apply text-gray-300 dark:text-gray-500;
}
